@use 'reset';
@use 'base';
@use 'colors';

header {
  @include base.tgs-font;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 16px 16px;

  * {
    display: flex;
    align-items: center;
  }

  a {
    padding: 2px;
  }

  .left {
    @include base.tgs-font;
    font-weight: bold;
    border-radius: 8px;
    padding: 2px 3px;
    //gap: 16px;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 20px;
    gap: 32px;
    a {
      gap: 8px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  .opening {
    align-self: flex-start;
    //font-weight: bold;
    //padding: 8px 16px;
    //border-radius: 8px;
    @include base.tgs-font;
    //@include base.mono;
  }
  .headline {
    font-size: 88px;
  }
  .subtitle {
    font-size: 68px;
  }
  .blurb {
    //@include base.tgs-font;
    //font-style: italic;
    //@include base.mono;
    //font-weight: bold;
    max-width: 800px;
    margin: 16px 0;
  }
  .call-to-action {
    margin-top: 20px;
  }
}

main {
  //overflow: auto;
  padding-top: 20px;
  //width: 100%;
  //max-width: 1200px;
  //margin: 0 auto;

  section {
    scroll-margin-top: 60px;
  }

  > * {
    margin: 8px;
  }
}

aside {
  position: fixed;
  top: 60px;
  display: grid;
  align-content: flex-start;
  gap: 12px;
  padding: 20px 16px;
  font-size: 28px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.section-heading {
  //color: colors.$soft-text-light;
  border-bottom: 2px solid colors.$soft-text-light;
  margin: 32px 0;
}

.icon-button {
  display: grid;
  place-content: center;
  padding: 2px 2px;
  border-radius: 4px;
  //border-width: 3px;
  //border-style: solid;
}

.icon-button-container {
  display: flex;
  justify-content: center;
}

.popout {
  margin: 12px -24px;
  padding: 16px 24px 24px;
  border-radius: 8px;

  .section-heading {
    border: none;
    margin: 0 0 16px;
  }
}

.id-card {
  display: flex;
  gap: 24px;
}

.id-pic {
  /* Allow it to shrink, but make it keep aspect ratio */
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  border-radius: 8px;
}

.tricard {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  //justify-content: stretch;
  gap: 32px;
}

.card {
  display: grid;
  align-content: flex-start;
  grid-template-rows: min-content 1fr min-content;
  //justify-items: center;
  border-radius: 8px;
  border: 2px solid colors.$soft-main-accent;
  padding: 16px;
  font-size: 20px;
  h3 {
    text-align: center;
    margin-bottom: 8px;
  }
  .tags {
    //align-self: flex-end;
    font-size: 18px;
    margin: 8px 0 0;
    //line-height: 1.7;
  }
  span {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 8px;
    margin: 8px 8px 0 0;
  }
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
  font-size: 24px;
  .icon-button-container {
    border-radius: 8px;
    flex-basis: 50%;
    //flex-grow: 1;
    padding: 4px 8px;
  }
}